body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1.1rem;
	line-height: $font__line-height-body;
	-webkit-font-smoothing: antialiased;
}

p{
	font-size: 1.1rem;
    font-family: $font__main;
    font-weight: 500;
    line-height: $font__line-height-body;
    color: $lc__dk_gray;
    -webkit-font-smoothing: antialiased;
}

@import "headings";
@import "copy";
