button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.wp-element-button{
	background:-webkit-gradient(linear,left top,left bottom,from(#bf2333),color-stop(50%,#981c28),color-stop(51%,#981c28),to(#72151e));
	background:linear-gradient(to bottom,#bf2333 0,#981c28 50%,#981c28 51%,#72151e 100%);
	border-radius: 10px;
	padding: 10px 16px;
	height: 45px;
}