.site-footer{
    height: 385px;
    //margin-top: -385px;

    background-color: $lc__dk_gray;
    width: 100%;
    padding: 2rem 0 4rem 0;
    font-size: 1rem;
    color: $lc__white;

    h2 {
        font-size: 1.2rem;
        color:$lc__white;
        text-transform: uppercase;
        font-weight: 700;
        text-align:center;
        line-height: 1.4rem;
        span.lcw-titlecase{
            text-transform:none;
        }
    }
    
    p, a, a:hover, a:visited, a:link{
        font-size: 1rem;
        color: $lc__white;
    }

    a, a:hover, a:visited, a:link{
        text-decoration: underline;
    }

    .footer-logo {
        display: block;
        width: 135px;
        margin: 0 auto 2.5rem auto;
    }

    .footer-sm-links{
        margin-bottom: 2rem;
    }
    
    .footer-social{
        width: 70%;
    }

    ul {
        list-style: none;
        margin-left: 0;
        //width:50%;
        margin: 0 auto;
    }

    ul li {
        margin-bottom: 0.75rem;
        margin: 0 auto .75rem auto;
    }


    
    .menu > li >a {
        padding: 0 0.25rem 0 0;
    }

    div.lcw-footer-menu {
        div.cell {
            margin: 5px 0;
            a {
                font-size: 1rem;
                color: #fff;
            }
        }
    }

}

@media screen and (max-width: 39.9375em) {
    .site-footer{
        height: revert;
        text-align: center;

        ul {
            .menu .footer-sm-links {
                width: 210px;
                margin: 0 auto 1rem auto;
            }
        }
    
    }


}