.lc-header{
	background: $lc__dk_red;
	height: 72px;
	max-height: 72px;
	min-height: 72px;
	position: fixed;
    z-index: 9999;
}

.custom-logo{
	width: auto;
	height: auto;
	margin: 15px auto 0 auto;
}