$lc__lt_gray: #dddddd;
$lc__med_gray: #848484;
$lc__dk_gray: #404040;
$lc__dk_red: #bf2333;
$lc__blue: #0d3e76;

$lc__dk_blue: #0155A5; 
$lc__lt_blue: #188FDD;
$lc__dkr_blue: #0c3b78;
$lc__white: #fff;
$lc__off_white: #fefefe;


$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $lc__blue; 
$color__link-visited: $lc__blue; 
$color__link-hover: $lc__blue; 
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666; 